<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Home/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Home/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Topbar Start -->
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="/Home" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">YUNAL</span></h1>
            </a>
        </div>

        <div class="col-lg-9 col-9 text-right">
            <partial name="_LoginPartial" />

        </div>
    </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        @RenderBody()
    </div>
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">YUNAL</span></h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Sokak, Ankara, Türkiye</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@yunal.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0312 345 6790</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Hızlı Linkler</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/Home"><i class="fa fa-angle-right mr-2"></i>Ana Sayfa</a>
                        <a class="text-dark mb-2" href="/Card"><i class="fa fa-angle-right mr-2"></i>Sepetim</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Home/lib/easing/easing.min.js"></script>
    <script src="~/Home/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Home/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Home/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Home/js/main.js"></script>
</body>
</html>