@{
    ViewData["Title"] = "Sepet Boş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sepet Boş</title>
    <link href="~/Home/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container my-5">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-warning">
                @ViewBag.ErrorMessage
            </div>
        }
        <a href="/Home" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
