@model LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Giriş Yap</h1>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<form class="user" method="post" asp-action="Index" asp-controller="Login">
    <div class="form-group">
        <input type="text" asp-for="UserName" class="form-control form-control-user" placeholder="Kullanıcı Adı Girin" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control form-control-user" placeholder="Şifrenizi Girin" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Giriş Yap" class="btn btn-primary btn-user btn-block" />
    <hr>
    <div class="text-center">
        <a class="small" href="/Register">Hesabım Yok</a>
    </div>
</form>
